{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% include 'base/css.html' %}
    <title>Hello, world!</title>
  </head>
  <body>
    {% include 'base/navbar.html' %} 
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    {%include 'base/js.html' %}
    
    <script>
      $("#id_city").change(function () {
        var url = $("#personForm").attr("data-cities-url");
        var cityId = $(this).val();
        $.ajax({
          url: url,
          data: {
            'city': cityId
          },
          success: function (data) {
            $("#id_place").html(data);
          }
        });
      });
    </script>
  </body>
</html>
