{% extends 'base.html' %}


{% block content %}
<!-- <div class="container">	
        <div class="about-grids">
            <div class="abt-rt-grid">
                <p class="lead"></p>
            </div>
        </div>
    </div> -->
    <div class="showcase_w3layouts">
            <div class="container">
            
                <div class="our_agile-info">
         
                <div class="showcase">
                        <div class="thumbnail thumbnail--awesome6">
                                <div class="thumbnail__overlay">
                                    
                                </div>
                            </div>
                    <div class="desc">
                            <h2>Thank you for your Order!!!</h2>
                    </div>
                </div>
        </div>

      </div>
        </div>
{% endblock %}