<h4>{{ instance.title }}</h4>
<p >{{ instance.description }}</p>
<a href="{% url 'location:check' %}" class="btn btn-primary">Go somewhere</a>

<!-- 
<div class="container">
    <div class="card-deck">
      <div class="card my-3">
            <div class="card-body">
                
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
    </div>
</div> -->